<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224389230189-3qa8me02tig8qpfftdgrlf68e48r7941.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224389230189-3qa8me02tig8qpfftdgrlf68e48r7941</string>
	<key>API_KEY</key>
	<string>AIzaSyDnuP03OxFLkLwQMXbswWAJU1s7xyR43KI</string>
	<key>GCM_SENDER_ID</key>
	<string>224389230189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cc.beacon</string>
	<key>PROJECT_ID</key>
	<string>assesment-b12c5</string>
	<key>STORAGE_BUCKET</key>
	<string>assesment-b12c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224389230189:ios:de68bab26eff018f229964</string>
</dict>
</plist>